*.fsproj
*.sln
*.v11.suo
*.pdb
*.dll
*.xml
*.exe
*.zip

# latex
auto
*.aux
*.log
*.out
*.pdf
*.toc

README.txt
Debug/

/ImpProgLang/Parser.fs
/ImpProgLang/Parser.fsi
/ImpProgLang/Lexer.fs
/ImpProgLang/Parser.fs
/ImpProgLang/Lexer.fs
/trees/tree.ps
